@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

:root {
    /* COLOR PALETTE */
    --mint-cream: #e0f1eb;
    --blue-green: #568faa;
    --blue-green-75: rgba(86, 143, 170, 0.75);
    --blue-sapphire: #08658f;
    --prussian-blue: #0b3551;
    --prussian-blue-75: rgba(11, 53, 81, 0.75);
    --bright-pink: #e85d75;
    --bright-pink-50: rgba(232, 93, 117, 0.5);
    --whitesmoke-25: rgba(245, 245, 245, 0.25);
    --whitesmoke-50: rgba(245, 245, 245, 0.5);
    --whitesmoke-75: rgba(245, 245, 245, 0.75);

    --dark-black: #0a060c;
    --error-red: #bf0603;
}

body {
    background-color: var(--mint-cream);
    color: var(--dark-black);
    font-family: Helvetica, sans-serif;
}

/* containers */

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.spread-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-row {
    display: flex;
    align-items: center;
    gap: 3px;
}

/* general */

.error {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: var(--whitesmoke-50);
    padding: 5px;
    border-radius: 5px;
    color: var(--error-red);
    font-weight: bold;
}

.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.title {
    margin: 10px;
    font-family: 'Racing Sans One', cursive;
    font-size: 32pt;
    color: var(--blue-green);
    text-shadow: 1px 1px 1px var(--dark-black), 4px 4px 4px var(--prussian-blue);
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    gap: 5px;
    padding: 5px;
    background-color: whitesmoke;
}

.nav-link, .nav-link:visited {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0px 5px 0px 5px;
    color: var(--dark-black);
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
}

.nav-link:hover {
    color: var(--blue-sapphire);
    scale: 120%;
}

.nav-link:active {
    color: var(--bright-pink);
    scale: 125%;
}

.logout, .logout:visited {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    color: var(--bright-pink);
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
}

.logout:hover {
    scale: 110%;
    color: var(--dark-black);
}

.logout:active {
    color: var(--blue-sapphire);
    scale: 115%;
}


/* ~almost~ all pages */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;
    background-image: linear-gradient(to right, var(--prussian-blue), var(--blue-green), var(--blue-green), var(--blue-green), var(--blue-green), var(--blue-green), var(--prussian-blue));
}

#error-page {
    width: 600px
}

.page-container header {
    background: rgba(0, 0, 0, 0);
    padding: 10px;
}

.page-container header h1 {
    margin: 0px;
    font-family: 'Racing Sans One', cursive;
    font-size: 24pt;
    color: whitesmoke;
    text-shadow: 2px 2px 2px var(--dark-black), -1px -1px 1px var(--dark-black), 4px 4px 4px var(--prussian-blue);
}

.header-button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 7px 10px;
    background-color: var(--prussian-blue-75);
    border: none;
    border-radius: 3pt;
    color: whitesmoke;
    text-decoration: none;
    font-size: 12pt;
}

.header-button .icon {
    color: whitesmoke;
    font-size: 1.25rem;
}

/* search */
.page-container header form {
    display: flex;
    align-items: center;
    gap: 3px;
    color: whitesmoke;
    background-color: var(--prussian-blue-75);
    padding: 5px;
    border-radius: 5px;
}

.page-container header form input {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    padding: 5px;
}

.nothing-here {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: var(--prussian-blue-75);
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
}

.spinner {
    opacity: 1;
    transition: opacity linear 0.1s;    
}

.spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 5px var(--whitesmoke-50);
    border-bottom-color: var(--bright-pink);
    border-radius: 50%;
    content: "";
    height: 25px;
    width: 25px;
    display: flex;
    margin-top: 30px;
    margin-left: 25px;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}


/* HOME */

.home-container {
    position: relative;
    text-align: center;
    color: whitesmoke;
}

.home-container img {
    height: 80vh;
}

.home-info {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 30%;
    padding: 10px;
    border-radius: 2px;
    background-color: var(--whitesmoke-75);
    box-shadow: 2px 2px 3px var(--blue-green), 6px 6px 7px var(--prussian-blue);
    color: var(--dark-black);
    font-size: 14pt;
    cursor: pointer;
}

#home-title {
    display: inline;
    font-family: 'Racing Sans One', cursive;
}

.home-message {
    position: absolute;
    bottom: 35%;
    left: 15%;
    max-width: 40%;
    padding: 10px;
    border-radius: 2px;
    background-color: var(--whitesmoke-75);
    box-shadow: 2px 2px 3px var(--blue-green), 6px 6px 7px var(--prussian-blue);
    color: var(--dark-black);
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Oooh Baby', cursive;
}
