@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

body {
    background-color: #e0f1eb;
    /* background: url('https://media.self.com/photos/5b7c4e71ecbb7f4c41c77335/4:3/w_2240%2Cc_limit/triangle-pose-beginner-yoga.jpg'); */
    font-family: Helvetica, sans-serif;
    color: #0a060c;
}

.vert-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horiz-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.separated-horiz-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}


.error {
    color: #ca0818;
    font-weight: bold;
}

.black {
    color: black;
    font-weight: bold;
}

.purple {
    color: #7669AE;
    /* border-color: #442C63; */
    /* box-shadow: 1px 1px 1px #4D3371; */
}

.blue {
    color: #171738;
}

.yellow {
    color: #DECF39;
}

.green {
    color: #5E8C61;
    border-color: #5E8C61;
    box-shadow: 1px 1px 1px #527A54;
}

.red {
    color: #ca0818;
    border-color: #b30614;
    box-shadow: 1px 1px 1px #980612;

}

.centered {
    text-align: center;
}

.sticky-header {
    position: sticky;
    top: 0;
    width: 100%;
}

.sticky-sub-header {
    position: sticky;
    top: 11vh;
    /* background-color: rgba(226, 217, 218); */
    /* width: 100%; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.title {
    margin: 10px;
    font-family: 'Racing Sans One', cursive;
    font-size: 32pt;
    color: #568FAA;
    text-shadow: 1px 1px 1px #0a060c, 4px 4px 4px #0b3551;
}

.sub-title {
    /* margin: 10px; */
    font-family: 'Racing Sans One', cursive;
    font-size: 24pt;
    color: whitesmoke;
    text-shadow: 2px 2px 2px #0a060c, -1px -1px 1px #0a060c, 4px 4px 4px #0b3551;
}

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 700px;
    gap: 5px;
    padding: 5px;
    background-color: whitesmoke;
}

.nav-link, .nav-link:visited {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0px 5px 0px 5px;
    color: #0a060c;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
}

.nav-link:hover {
    color: #08658f;
    scale: 120%;
}

.nav-link:active {
    color: #e85d75;
    scale: 125%;
}

.logout, .logout:visited {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px;
    color: #e85d75;
    text-decoration: none;
    font-size: 13pt;
    font-weight: bold;
}

.logout:hover {
    scale: 110%;
    color: #0a060c;
}

.logout:active {
    color: #08658f;
    scale: 115%;
}

.home-container {
    position: relative;
    text-align: center;
    color: whitesmoke;
}

.home-image {
    height: 80vh;
}

.home-info {
    position: absolute;
    top: 5%;
    right: 5%;
    max-width: 30%;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0.75);
    box-shadow: 2px 2px 3px #568faa, 6px 6px 7px #0b3551;
    color: black;
    font-size: 14pt;
    cursor: pointer;
}

.home-title {
    display: inline;
    font-family: 'Racing Sans One', cursive;
}

.home-message {
    position: absolute;
    bottom: 35%;
    left: 15%;
    max-width: 40%;
    padding: 10px;
    border-radius: 2px;
    background-color: rgba(245, 245, 245, 0.75);
    box-shadow: 2px 2px 3px #568faa, 6px 6px 7px #0b3551;
    color: black;
    font-size: 18pt;
    font-weight: bold;
    font-family: 'Oooh Baby', cursive;
}


.login {
    color: black;
    font-size: 14pt;
}



.button {
    background-color: whitesmoke;
    border: 2px solid;
    border-radius: 5px;
    padding: 2px 20px;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
}

.small-button {
    background-color: #F0F0F0;
    border: 2px solid;
    border-radius: 5px;
    width: fit-content;
    padding: 2px 2px;
    margin-top: 10px;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    align-self: flex-end;
}

.no-line, no-line:visited {
    text-decoration: none;
    color: whitesmoke;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 250px;
    padding: 25px 25px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.routine-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 250px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}



.new-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 500px;
    padding: 50px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.numeric-input {
    width: 75px;
}
